@charset "utf-8";

/*    
   Filename: style1.css
*/

#hf {
  color: white;
  background-color: green;
  padding: 40px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 0px;
}

body, h3{
	width: 100%;
	background-color: lightgreen;
	margin: 0px;
}

img {
	width: 300px;
	height: auto;
	display: block;
	margin: 0px auto;
	border: 1px yellow;
	box-shadow: 0px 0px 10px black;
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	margin-left: 400px;
	margin-bottom: 30px;
}

#formstyle  {
        background-color: lightgrey;
        width: 50%;
        border: 5px solid green;
        padding: 50px;
        margin-left: 300px;
        margin-bottom: 30px;
        margin-top: 30px;
        font-family: "Dancing Script";
        font-size: 20px;
}

.center, figure {
	text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  font-family: "Lobster";
  font-size: 20px;
}

.topnav a{
	float: left;
  	display: block;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
 }

.topnav a:hover {
  color: hotpink;
  background-color: #ddd;
}

a {
 	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
  background-color: #006700;
}

a:active {
  color: blue;
}

a.uppercase {
  text-transform: uppercase;
}

section {
	width: 400px;
   	height: 350px;
   	text-align: center;
   	background: #b4b4b4;
   	box-shadow: inset 0px 0px 20px black;
   	padding-top: 20px;
   	float: left;
   	box-sizing: border-box;
   	margin: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

section > p {
	margin: 10px;
  font-style: italic;
  box-sizing: border-box;
}

.column {
  float: left;
  width:33.33%;
  box-sizing: border-box;
  font-family: "Pacifico";
  font-size: 20px;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

#whatssapSection {
	float: center;
	text-align: center;
	margin-bottom: 50px;
}

